<script src="js/script.js"></script>

<center>
    <h3>

        Brandon Wissmann</h3>

    <h1>:)</h1>

    <p id="first">
        <p> Hello, I am in my third semester of the CPA program currently. I enjoy the idea of web development and would love
            to do something like that in the future. I enjoy learning new technologies and playing around with them and am
            amazed at the amount there is out there. </p>
</center>