<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel="stylesheet" type="text/css" href="css/site.css" />

    <script src="js/script.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="/scramble"></script>

</head>


</script>

<body>

    <div class="outer-menu">
        <input class="checkbox-toggle" type="checkbox" />
        <div class="hamburger">
            <div></div>
        </div>
        <div class="menu">
            <div>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                </ul>
            </div>
        </div>
    </div>
    </div>



    <div class="container-fluid">
        <div class="row">

            <div class="background"></div>
            <div class="title">
                <h3>Brandon Wissmann</h3>
                <h1>:)</h1>

                <p id="first">
                    <p> Hello, I am in my third semester of the CPA program currently. I enjoy the idea of web developemnt and
                        would love to do something like that in the future. I enjoy learning new technologies and playing
                        around with them and am amazed at the amount there is out there. </p>
                        <footer>2017 - Brandon Wissmann</footer>
            </div>
        </div>
    </div>


    </div>
</body>

<script>
    Scramble.select('h1')
        .setText('the developer')
        .descramble();

</script>


</html>