<div class="row"><center>
    <h3>Welcome!</h3>
            <h1>Hello</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae mollitia, iusto eos ipsa voluptatum numquam,
                quis fuga fugit dolorum atque vel alias aliquid impedit dicta veniam deserunt perspiciatis voluptas, quam.</p>
                </center>
</div>