<!DOCTYPE html>
<html>

<head>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="css/site.css" />

    <script src="js/script.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

</head>


</script>

<body>

    <div class="outer-menu">
        <input class="checkbox-toggle" type="checkbox" />
        <div class="hamburger">
            <div></div>
        </div>
        <div class="menu">
            <div>
                <ul>
                      <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
</ul>
            </div>
        </div>
    </div>
    </div>



    <div class="container-fluid">
        <div class="row">

            <div class="background"></div>
            <div class="title">
                <h3>Welcome</h3>
                <h1>Hello</h1>

                <p id="first">

                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere ad saepe quo, neque facilis, eum veritatis ut odio assumenda
                    voluptatibus architecto ipsa, ratione ipsum culpa. Voluptas quisquam beatae, quod porro. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse laborum aliquam veritatis dignissimos sed. Eveniet incidunt aperiam, facilis quisquam culpa quibusdam nihil dolorem placeat consequatur. Voluptatem tempore quam ducimus pariatur!
                </p>
                <footer>2017 - Brandon Wissmann</footer>
            </div>
            
        </div>
    </div>


    </div>
</body>

</html>