h1 {
    font-size: 100px;
}

a,
a:focus,
a:hover {
  color: #fff;
}

body {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

a:hover {
    background: #edf3f8;
    color: #212121;
}

ul {
    list-style-type: none;
}

.content {
   margin-top: 70px;
  }

.well .well{
 background-color: white;
}

.well {
   text-align: left;
}
